container {
	border: solid 1px;
	border-radius: 5px;
	width: 500px;
	height: 250px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

div {
	border: solid 1px;
	border-radius: 5px;
	height: 75px;
	line-height: 75px;
	width: 75px;
	font-family: Verdana, Arial, sans-serif;
	color: #000;
	font-size: 36px;
	text-align: center;
}

.a {
	flex-grow: 2;
}

.b {
	order: 3;
	align-self: flex-end;
	flex-basis: initial;
}

.c {
	flex-basis: initial;
}