table {
	border: 1px solid black;
	text-align: left;
	width: 100%;
	border-spacing: 0;
}

table tr td {
	padding: 5px;
}

#zwart {
	background-color: #000;
	color: #fff
}

#rood {
	background-color: #f00;
	color: #fff
}

#groen {
	background-color: green;
	color: #fff
}

#blauw {
	background-color: #00f;
	color: #fff;
}

#wit {
}