form {
	width: 100%;
    text-align: center;
}
legend {
	font-size: 1.5em;
	font-weight: bold;
}
fieldset {
    font-size: 18px;
    font-weight: bold;
	border: solid 2px #009D22;
	width: 70%;
	margin: auto;
	border-radius: 2%;
	background-image: linear-gradient(to bottom, hsl(0, 80%, 50%), #bada55);
}
input, select {
	border: solid 1px rgba(0, 0, 0);
	margin: 5px;
	padding: 5px 30px 5px 50px;
	width: 50%;
	text-align: center;
	font-size: 1em;
	border-radius: 5px;
}
#email {
    width: 35%;
}
input[type=text] {
    border-radius: 5px;
    width: 35%;
}
#cursus, #lokatie {
    width: 20%;
}
input[type=date] {
    width: 25%;
    border-radius: 5px;
}
input[type=checkbox], input[type=radio] {
	width: 4%;
}
input[type=submit]:hover {
	opacity: 1;
	transition: opacity 0.5s linear;
}
#verzend {
    width: 25%;
    background: #bada55;
}