/*Stijlen voor Labs.html*/

#achtergrond {
	background-color: #9966CC;
	width: 100%;
	height: 300px;
	border: 2px solid black;
}

#div1 {
	box-shadow: 5px 5px 10px black;
	width: 100%;
	height: 25px;
	font-size: 20px;
	margin: 0 auto 20px auto;
	background-color: lightgreen;
	text-align: center;
	font-size: 15px;
}

#div2 {
	box-shadow: 5px 5px 10px black;
	width: 80%;
	height: 220px;
	font-size: 15px;
	margin: 0 auto;
	text-align: center;
	background-color: lightgreen;
	font-size: 20px;

	background-image: url(http://icons.iconarchive.com/icons/yootheme/social-bookmark/256/social-google-box-icon.png);
	background-repeat: no-repeat;
	background-position: right;

	animation-name: revolutie;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#div2:hover,
#div2:focus {
	float: right;
}

#div3 {
	box-shadow: 5px 5px 10px black;
	width: 80%;
	height: 150px;
	background-color: yellow;
	margin: 20px auto 0 auto;
	font-size: 25px;

	background-image: url(https://image.flaticon.com/icons/svg/179/179320.svg);
	background-repeat: no-repeat;
	background-position: left;
	opacity: 0.9;
}

#div4 {
	box-shadow: 5px 5px 10px black;
	width: 80%;
	height: 50px;
	background-color: yellow;
	color: red;
	margin: 0 auto;
	font-size: 30px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0.9;
}

@keyframes revolutie {
	from {transform: rotateX(0deg);}
	to {transform: rotateX(360deg);}
}