/*Styles voor de website*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
 
/*Navigatie*/
body {
    background: #002627;
    font-family: 'Overpass', sans-serif;
    background: url(img/Lingo_Achtergrond_Homepagina.png) no-repeat center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
 
ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    height: 50px;
    box-shadow: 0px 2px 10px black;
}
 
ul li h2 {
    float: left;
 
    padding: 10px 0 0 20px;
}
 
 
 
ul li a {
    font-family: sans-serif;
    float: right;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 100px 0 0;
}
 
ul li a:hover {
    text-decoration: underline;
    text-decoration: bold;
    color: #a0a0a0;
}
 
/*Hoe werkt Lingo?*/
.inhoud {
    font-family: 'Overpass', sans-serif;
    background-color: #074649e0;
    margin: 5% 0 0 0;
    border: rgb(221, 221, 221) solid 2px;
    margin: 5% 5%;
    padding: 2% 2%;
}
h3 {
    font-family: 'Overpass', sans-serif;
    text-align: center;
    color: #27686B;
}
.inhoud p {
    font-family: 'Overpass', sans-serif;
    text-align: center;
    color: #588A8D;
    fill-opacity: 20%;
    margin: 2% 5% 0 5%;
}
 
.regels {
    border: rgb(221, 221, 221) solid 2px;
    background-color: #074649e0;
    margin: 0 70% 0 5%;
    padding: 1% 5% 3%;
    float: left;
    width: 38%;
    height: 50%;
}
.regels p {
    font-family: 'Overpass', sans-serif;
    text-align: center;
    color:#588A8D;
    width: 100%;
    padding-top: 20px;
}
 
 
.meer {
    border: rgb(221, 221, 221) solid 2px;
    background-color: #074649e0;
    width: 13.1%;
    height: 34.3%;
    position: absolute;
    margin-left: 81.6%;
    text-align: center;
}
 
 
.meer p a {
    margin-top: 10px;
    font-family: 'Overpass', sans-serif;
    text-decoration: none;
    color: #588A8D;
    text-align: center;
}
.meer p a:hover {
    color: rgb(67, 112, 129);
}
 
.meer h3 {
    padding-top: 10px;
}
 
.regels h3 {
    padding-top: -20px;
}
 
#bal {
    width: 280px;
    height: 280px;
    position: absolute;
    background: radial-gradient(rgba(36, 36, 187, 0.750), rgb(87, 85, 247, 0.750));
    border-radius: 800px;
    color: white;
    text-align: center;
    margin-left: 58%;
}
 
#bal p {
    padding-top: 10%;
    font-size: 1300%;
}
 
#einde {
    width: 100%;
    background-color: #002627;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 200px;
    position: absolute;
    margin-top: 25.5%;
    color: white;
}
 
#einde2 {
    margin-top: 83%;
    color: white;
    font-family: 'Overpass', sans-serif;
    font-size: 30px;
    width: 50%;
    height: 50%;
}

#Lingo {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    } 
      
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

ul li a {
    font-family: sans-serif;
    float: right;
    display: block;
      color: black;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      font-weight: bold;
      padding: 15px 100px 0 0;

}

ul li a:hover {
    text-decoration: none;
    text-decoration: bold;
    color: #074649e0;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    transform: rotate(0.01turn);
}



/*Makers*/
#makers {
	background: url(img/Lingo_Achtergrond_Makers.png) no-repeat center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.info {
	border: #fff solid 2px;
	margin: 50px 50px;
	height: 250px;
	padding-top: 20px;
	background-color: #074649e0;
}
.info p {
	color: #588A8D;
	text-align: center;
	padding-top: 5px;
	line-height: 50px;
}
.info p a {
	text-decoration: none;
	color: #588A8D;
}
.info p a:hover {
	color: #fff;
}



/*Download*/
#download {
	background: url(img/Lingo_Achtergrond_Download.png) no-repeat center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Versies*/
#versies {
	background: url(img/Lingo_Achtergrond_Versies.png) no-repeat center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.versie_een, .versie_twee, .versie_drie, .versie_vier {
    border: #fff solid 2px;
	margin: 20px 50px;
	height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #074649e0;
}
.versie_een p, .versie_twee p, .versie_drie p, .versie_vier p {
    padding-top: 10px;
    color: #588A8D;
    padding-left: 15%;
    padding-right: 15%;
}
.versie_een p img {
    width: 30%;
    float: right;
}
.versie_drie p img {
    width: 45%;
    float: right;
}


/*Download*/
#download {
    background: url(img/Lingo_Achtergrond_Download.png) no-repeat center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#DownloadContainer {
    font-family: 'Overpass', sans-serif;
    background-color: #074649e0;
    margin: 5% 0 0 0;
    border: rgb(221, 221, 221) solid 2px;
    margin: 5% 5%;
    padding: 2% 2%;
    text-align: center;
}

#DownloadContainer a {
    text-decoration: none;
    text-align: center;
    color: #002627;
    font-size: 60px;
    font-family: 'Overpass', sans-serif;
}

#DownloadContainer a:hover {
    color: white;
}

#Downloadknop {
    background-color: rgb(46, 186, 194);
    border: 1px solid #a0a0a0;
    color: rgb(255, 255, 255);
    font-family: 'Overpass', sans-serif;
    border-radius: 2px;
    width: 25%;
    font-size: 225%;
    border: 1px solid white;
    height: 90px;
}

#Downloadknop:hover {
    cursor: pointer;
}

#Downloadknop:active {
    background-color: white;
    box-shadow: 0 5px gray;
    transform: translateY(2px);
    transition: background-color 0.1s linear;
}

#DownloadContainer i {
    padding: 1px;
    border-radius: 20px;
    background-color: white;
    font-size: 12px;
    font-family: 'Overpass', sans-serif;
}

#DownloadContainer #titeltext p {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Overpass', sans-serif;
    padding-bottom: 20px;
}
