table {
	width: 100%;
	text-align: left;
	border-spacing: 0;
	border: 2px solid lightblue;
}

#een {
	background-color: rgba(255,0,0,1.0)
}

#negen {
	background-color: rgba(255,0,0,0.9)
}

#acht {
	background-color: rgba(255,0,0,0.8)
}

#zeven {
	background-color: rgba(255,0,0,0.7)
}

#zes {
	background-color: rgba(255,0,0,0.6)
}

#vijf {
	background-color: rgba(255,0,0,0.5)
}

#vier {
	background-color: rgba(255,0,0,0.4)
}

#drie {
	background-color: rgba(255,0,0,0.3)
}

#twee {
	background-color: rgba(255,0,0,0.2)
}

#nul-een {
	background-color: rgba(255,0,0,0.1)
}

#nul {
	background-color: rgba(255,0,0,0.0)
}